html {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
	font-family: "Noto Sans Mono", sans-serif;
background-color: black;
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 10px auto;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

a {
  font-size: 15px;
  width: 500px;
  background: none;
  border: 8px solid;
  border-radius: 15px;
  border-color: #8a3824;
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
  margin: 10px;
  padding: 10px;
}

.animated-button {
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 450px;
  height: 15px;
  background: none;
  border: 5px solid #dbdbdb;
  border-radius: 15px;
  text-decoration: none;
  font-weight: medium;
  color: white;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  z-index: 0;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dbdbdb;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0px;
}

.animated-button:hover::before {
  opacity: 1;
}

.animated-button:hover {
  color: black;
}
