html {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: sans-serif;
  text-align: center;
  margin: 10px auto;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

a {
  font-size:25px; 
  width: 600px; 
  background-color:#b0fcff;  

  border: 8px solid;
  border-radius: 30px; 
  border-color:white;

  text-decoration: none;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
}
